<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-1">Make Your Links Manageable</h1>
    <p>Simplify them</p>
    <br><br>
    <%= render "links/form" %>
    <br><br>
    <% check_action %>
  </div>
</div>

<div class="container-fluid">
  <div class="row text-center">
    <div class="col-md-4  ">
      <%= render "links/recent_links" %>
    </div>
    <div class="col-md-4">
      <%= render "links/popular_links" %>
    </div>
    <div class="col-md-4">
        <%= render "links/influential_users" %>
    </div>
  </div>
</div>




