<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>Make Your Links Manageable</h1>
    <p>Simplify them</p>
    <%= render "links/form" %>
    <br>
    <h4>Manage your shortened urls and get the option to use vanity urls</h4>
    <button class="btn">
      <%= link_to "Sign Up", new_user_registration_path %>
    </button>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= render "links/recent_links" %>
    </div>
    <div class="col-md-4">
      <%= render "links/popular_links" %>
    </div>
    <div class="col-md-4">
      <h3 class="text-center">Influential Users</h3>
      <ul class="numbered-list">
        <li class="numbered-list__item">
            <span class="numbered-list__counter"></span>
            <span class="numbered-list__text">Minion ipsum</span>
        </li>
      </ul>
      nah nahnahnahnah nahnahnahnah nananananananananah nahnahnahnah
    </div>
  </div>
</div>




