<div class="container-fluid">
  <div class="jumbotron text-center">
    <h1>Make Your Links Manageable</h1>
    <p>Simplify them</p>
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Paste your link, shorten it and share">
      <span class="input-group-btn">
        <button class="btn">Shorten</button>
      </span>
    </div>
    <br>
    <h4>Manage your shortened urls and get the option to use vanity urls</h4>
    <button class="btn"><%= link_to "Sign Up", new_user_registration_path %></button>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h3>Recent Links</h3>
    </div>
    <div class="col-md-4">
      <h3>Popular Links</h3>
    </div>
    <div class="col-md-4">
      <h3>Influential Users</h3>
    </div>
  </div>
</div>




