<%= form_for @link, remote: true do |f| %>
  <div class="input-group">
  <% if current_user %>
      <div class="input-group-btn">
        <button type="button" class="btn btn-lg dropdown-toggle" 
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Vanity String<span class="caret"></span>
        </button>
        <div class="dropdown-menu vanity">
          <%= f.text_field :slug, class: "form-control input-lg",
              placeholder: "Enter your vanity string (optional)" %>
        </div>
      </div>
    <% end %>
    <%= f.text_field :original, class: "form-control input-lg url",
        placeholder: "Paste your link, shorten it and share" %>
    <span class="input-group-btn">
      <%= f.submit 'Shorten', class: "btn btn-lg btn-shorten"%>
    </span>
  </div>
<% end %>
<div class="spinner">
  <div class="rect1"></div>
  <div class="rect2"></div>
  <div class="rect3"></div>
  <div class="rect4"></div>
  <div class="rect5"></div>
</div>
<div class="result text-center"></div>
<div id="error-explanation"></div>
