<%= form_for @link, remote: true do |f| %>
  <div class="input-group">
    <%= f.text_field :original, :class => "form-control input-lg url",
        :placeholder => "Paste your link, shorten it and share" %>
    <span class="input-group-btn">
      <%= f.submit 'Shorten', :class => "btn btn-lg"%>
    </span>
  </div>
<div id="error-explanation"></div>
<% end %>
<div class="result center"></div>
