<div class="panel panel-primary panel-inverse">
  <div class="panel-heading">
    <h4>Influential Users</h4>
  </div>
  <div class="panel-body">
    <ul class="list-group">
    <% @influential_users.each do |name, index| %>
    <li class="presentation list-group-item">
      <%= name.capitalize %>
    </li>
    <% end %>
    </ul>
  </div>
</div>
    
    
