<div class="panel top-list">
  <div class="panel-heading">
    <h4>Influential Users</h4>
  </div>
  <div class="panel-body">
    <ul class="list-group">
    <% if @influential_users.any? %>
      <% @influential_users.each do |name, index| %>
      <li class="presentation list-group-item">
        <%= name.user.username.capitalize %>
      </li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>
    
    
