<div class="panel top-list">
  <div class="panel-heading">
    <h4>Popular Links</h4>
  </div>
  <div class="panel-body">
    <ul class="list-group">
    <% @popular_links.each do |link| %>
    <li class="presentation list-group-item">
      <span class="badge badge-warning">
        <%= pluralize(link.visits, "visit") %>
      </span>
      <%= link_to link.shortened_url, link.shortened_url, target: '_blank' %>
    </li>
    <% end %>
    </ul>
  </div>
</div>
    
    
