@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors"; 

body{
  color: $navy;
}

.navbar{
  margin-bottom: 0;
  border-radius: 0;
  color: white;
}

.logo {
  font-family: 'Permanent Marker', serif;
  font-size: 40px;
  color: white;
  margin-top: 10px;
}

.navbar-inverse .navbar-nav > li > a{
  color: white;
  margin-top: 10px;
}

.jumbotron .btn a{
  color: white;
  text-decoration: none;
}

.alert-notice{
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-alert{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.badge{
  color: $black;
  background-color: $yellow;
}

.list-group-item{
  border: none;
}

footer{
  background-color: $purple;
  color: white;
  padding: 25px;
}
