@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-switch";
@import "colors"; 
@import "box_sizing"; 

body{
  color: $black;
  margin: 0;
  padding: 0;
  min-height: 50em;
  height: 100%;
}

#wrapper{
  min-height: 100%;
  position: relative;
}

#header{
  padding: 0;
}

#content{
  padding: 0;
  padding-bottom: 5em;   
}

.navbar{
  margin-bottom: 0;
  border-radius: 0;
  color: white;
}

.logo{
  font-family: 'Permanent Marker', serif;
  font-size: 40px;
  color: white;
  margin-top: 10px;
}

.navbar{
  background-color: $black;
}

.navbar-header a:hover, a:focus{
  text-decoration: none;
  color:white;
}

.navbar-inverse .navbar-nav > li > a{
  color: white;
  margin-top: 10px;
  padding-bottom: 20px;
}

.jumbotron{
  background-color: $yellow;
}

.jumbotron .btn a{
  color: white;
  text-decoration: none;
}

.input-group-btn .btn{
  background-color: $black;
  color: $yellow;
}

.alert-notice{
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-alert{
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}

.badge{
  color: $black;
  background-color: $yellow;
  padding: 5px 10px;
}

.list-group-item{
  border: none;
}

.top-list{
  border: 5px solid;
  border-radius: 10px;
}

.panel-heading{
  color: white;
  background-color: $black;
}

input, select, .uneditable-input{
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input{
  height: auto;
}

.btn-signup{
  background-color: $yellow;
  color: $navy;
}

.dropdown-menu.vanity{
  margin: 0;
  padding: 0;
  min-width: 30em;
}

footer{
  margin-top: 100px;
  background-color: $black;
  color: white;
  padding: 25px;
}

footer .glyphicon{
  font-size: 20px;
  margin-bottom: 20px;
  color: $yellow;
}
