@import "bootstrap-sprockets";
@import "bootstrap";
@import "colors"; 

 body{
  color: $navy;
 }

.navbar{
  margin-bottom: 0;
  border-radius: 0;
}

.navbar .btn{
  margin-top: 15px;
}

.btn a{
  color: white;
}

footer{
  background-color: $purple;
  color: white;
  padding: 25px;
}
