
.jumbotron{
    background-color: $tan;
    color: $navy !important;

    .btn{
      background-color: $purple;
    }
}

.numbered-list{
  counter-reset: list_counter;
}

.numbered-list__counter:before{
    counter-increment: list_counter;
    content: counter(list_counter);
}

.numbered-list__item .ul{
  list-style-type: decimal;
}
