
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %>
        <h4 class="navbar-brand logo btn">Short.en</h4>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to new_user_registration_path do %>
            <button class="btn btn-primary">Sign up</button>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <button class="btn btn-default">Login</button>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
