
<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button> -->
      <%= link_to root_path do %>
        <p class="navbar-brand logo">Short.en</p>
      <% end %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
      <li>
        <% if user_signed_in? %>
          <button class="btn btn-primary">
            <span class="glyphicon glyphicon-log-out"></span>
            <%= link_to destroy_user_session_path, method: :delete do %>Log Out<% end %>
          </button>
        <% else %>
          <button class="btn btn-primary">
            <%= link_to new_user_registration_path do %>Sign Up<% end %>
          </button>
          <button class="btn btn-primary">
            <%= link_to new_user_session_path do %>Login<% end %>
          </button>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
